* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family:  sans-serif;
    font-weight: 400;
    /* height: 200vh; */
    color: aquamarine;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* player sections */

.player--position {
    display: flex;
    justify-content: space-between;
    background-color: grey;

}

.player {
  flex: 50%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  transition: all 0.75s;
  ;
}

.player--0 {
    align-items: left;
    background-color: #222;
    padding-right: 12rem;
    padding-left: 3rem;
}

.player--1 {
    text-align: right;
    align-items: right;
    background-color: black;
    padding-left: 12rem;
    padding-right: 3rem;
}

/* avatars */
.avatar {
    height: 200px;
    width: 200px;
    /* left: 50%; */
    /* top: 16.5rem; */
    /* transform: translateX(-50%); */
  /* height: 10rem; */
    box-shadow: 0 1rem 3rem #11F583; 
}

.avatar--0 {

}

.avatar--1 {

}

/* move display hands */
.moveDisplay {
    background-color: #111;
    height: 75px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    

}

.moveDisplay--0  {
    box-shadow: 0 1rem 3rem #E9EFF8; 
    border-radius: 50%;
}

.moveDisplay--1 {
    box-shadow: 0 1rem 3rem #E9EFF8; 
    border-radius: 50%;
}

.score {
    padding-top: 10px;
    font-size: 40PX;

}

.name {
    padding-top: 10px;
    font-size: 40px;
}

.playGame {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20px; */
    /* justify-content: space-between; */
}

.btn {
    /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  color: #fff;
  background: none;
  border: line;
  border-color: aqua;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  /* background-color: #00F2FF;
  background-color: #00F2FF; */
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 20rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 2);
}

.hidden {
    display: none;
}